// app global css in SCSS form
// Google fonts (Montserat)
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,500&display=swap');

// Onfly variables
$page-bg: #ebebeb;

body {
  font-family: 'Montserrat', sans-serif;
}

.q-page {
  background-color: $page-bg;
}

.q-btn {
  padding-left: 40px;
  padding-right: 40px;
}
